<launch>
    <param name="sync" type="bool" value="false" />
    <param name="mod" type="int" value="50" />

    <group ns="uav0">
        <param name="url" type="string" value="rtsp://192.168.43.1:8554/fpv_stream" />
        <node pkg="aerial_image_stitching_pkg" type="geotag.py" name="geotag" output="screen" />
        <node pkg="aerial_image_stitching_pkg" type="video_capture.py" name="video_capture" output="screen" />
    </group>

    <group ns="uav1">
        <param name="url" type="string" value="rtsp://192.168.42.129:8554/fpv_stream" />
        <node pkg="aerial_image_stitching_pkg" type="geotag.py" name="geotag" output="screen" />
        <node pkg="aerial_image_stitching_pkg" type="video_capture.py" name="video_capture" output="screen" />
    </group>

    <!-- <node pkg="aerial_image_stitching_pkg" type="video_capture_multi.py" name="video_capture_multi" output="screen" /> -->

    <!-- <group ns="uav2">
        <param name="url" type="string" value="" />
        <node pkg="aerial_image_stitching_pkg" type="geotag.py" name="geotag" output="screen" />
        <node pkg="aerial_image_stitching_pkg" type="video_capture.py" name="video_capture" output="screen" />
    </group>

    <group ns="uav3">
        <param name="url" type="string" value="" />
        <node pkg="aerial_image_stitching_pkg" type="geotag.py" name="geotag" output="screen" />
        <node pkg="aerial_image_stitching_pkg" type="video_capture.py" name="video_capture" output="screen" />
    </group> -->

    <node pkg="aerial_image_stitching_pkg" type="super_stitch.py" name="super_stitch" output="screen" />
</launch>
