<launch>
    <param name="sync" type="bool" value="false" />
    <node pkg="aerial_image_stitching_pkg" type="geotag.py" name="geotag" output="screen" />
    <node pkg="aerial_image_stitching_pkg" type="video_capture.py" name="video_capture" output="screen" />
    <node pkg="aerial_image_stitching_pkg" type="super_stitch.py" name="super_stitch" output="screen" />
</launch>
