<launch>
    <arg name="file_name" default="$(find aerial_image_stitching_pkg)/data/video_stream1/videoStreamImages.txt" />
    <arg name="image_dir" default="$(find aerial_image_stitching_pkg)/data/video_stream1" />
    <include file="$(find aerial_image_stitching_pkg)/launch/image_pub.launch">
        <arg name="file_name" value="$(arg file_name)" />
        <arg name="image_dir" value="$(arg image_dir)" />
    </include>
    <param name="result_dir" type="string" value="$(find aerial_image_stitching_pkg)/data/temp" />
    <node pkg="aerial_image_stitching_pkg" type="super_stitch.py" name="super_stitch" output="screen" />
</launch>
